<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:be.menus.actionMenu additionalAttributes="{'class':'form-select form-select-sm form-control t3-js-jumpMenuBox'}">
        <f:be.menus.actionMenuItem label="{f:translate(key: 'module.action.overview')}" controller="Module" action="overview"/>
        <f:be.menus.actionMenuItem label="{f:translate(key: 'module.action.create')}" controller="Module" action="create"/>
    </f:be.menus.actionMenu>
</html>
